aiofiles
aiohttp
appdirs
APScheduler
async-lru
async-timeout
attrs
beautifulsoup4
certifi
cffi
chardet
click
cryptography
DateTime
decorator
distlib
filelock
gTTS
heroku
idna
OpenCC
Pillow
pipenv
pyaes
pyasn1
pycparser
Pyrogram
pyromod
PySocks
python-dateutil
pytz
requests
rsa
schedule
scihub
six
soupsieve
TgCrypto
tornado
typing-extensions
tzlocal
urbandict
urllib3
virtualenv
virtualenv-clone
wikipedia
yarl
youtube-dl
youtube-search
zope.interface
emoji
gpytranslate
