aiofiles==0.6.0
aiohttp==3.7.3
appdirs==1.4.4
APScheduler==3.6.3
async-lru==1.0.2
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cryptography==3.3.1
DateTime==4.3
decorator==4.4.2
distlib==0.3.1
filelock==3.0.12
gTTS==2.2.1
heroku==0.1.4
idna==2.10
multidict==5.1.0
OpenCC==1.1.1
Pillow==8.1.0
pipenv==2020.11.15
pyaes==1.6.1
pyasn1==0.4.8
pycparser==2.20
Pyrogram==1.1.13
pyromod==1.5
PySocks==1.7.1
python-dateutil==1.5
python-telegram-bot==13.1
pytz==2020.5
requests==2.25.1
rsa==4.7
schedule==0.6.0
scihub
six==1.15.0
soupsieve==2.1
Telethon==1.19.1
TgCrypto==1.2.2
tornado==6.1
typing-extensions==3.7.4.3
tzlocal==2.1
urbandict==0.6.1
urllib3==1.26.2
virtualenv==20.4.0
virtualenv-clone==0.5.4
wikipedia
yarl==1.6.3
youtube-dl==2021.1.24.1
youtube-search==1.1.1
zope.interface==5.2.0
emoji==1.2.0
gpytranslate==1.0.3
